@using Microsoft.AspNetCore.Http;
@using Proyecto_final_ASP.Auxiliares;

<h3>Ejemplos de sesion</h3>
Edad: @Context.Session.GetInt32("edad")
<br>
Usuario: @Context.Session.GetString("usuario")
<br>

<h2>Un objeto</h2>
@{
    Producto p = ConversorSesion.GetObjetoDesdeJson<Producto>(Context.Session, "prod");
}

ID: @p.Id
<br>
Nombre: @p.Nombre
<br />
Precio: @p.Precio
<br />
Cantidad: @p.Cantidad
<br>
<img src="~/imagenes/@p.Foto" height="100px">

@{
    List<Producto> ps = ConversorSesion.GetObjetoDesdeJson<List<Producto>>(Context.Session, "prods");
}
<div class="container-lg">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            @foreach (Producto pro in ps)
            {
                <div>
                    ID: @pro.Id <br />
                    Nombre: @pro.Nombre <br />
                    Precio: @pro.Precio<br />
                    Cantidad: @pro.Cantidad<br />
                    <img src="~/imagenes/@pro.Foto" width="100px">
                </div>

            }
        </div>
    </div>
</div>